{% extends "index.html" %}

{% block title %}Sign-Up{% endblock title %}

{% block content %}
<div class='container-fluid  p-0'>
    <div class='container signup-main-div  '>
        <div class='row mt-5 pt-5 d-flex justify-content-center '>
            <div class='col-xxl-6 col-xl-6 col-lg-8 col-md-8 col-sm-12 col-12 col-xs-12 pb-2  border'>
            <form method='post'>
                {% csrf_token %}
                <h1 class='text-light text-center mb-3 border-bottom py-3'>Sign-UP Form</h1>
                {% for message in messages %}
                <div class="container-fluid p-0">
                  <div class="alert {{ message.tags }} alert-dismissible" role="alert" >
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    {{ message }}
                  </div>
                </div>
                
                
                {% endfor %}
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label text-light fw-bold">Full Name</label>
                    <input type="text" class="form-control" required name='full_name' id="exampleInputEmail1" aria-describedby="emailHelp">
                  </div>

                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label text-light fw-bold">Email address</label>
                  <input type="email" class="form-control" required name='email' id="exampleInputEmail1" aria-describedby="emailHelp">
                  
                </div>

                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label text-light fw-bold">Create Password</label>
                  <input type="password" class="form-control" required name='password' id="exampleInputPassword1">
                </div>

                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label text-light fw-bold">Confirm Password</label>
                  <input type="password" class="form-control" required name='confirm' id="exampleInputPassword1">
                </div>

             
                <button type="submit" class="btn btn-primary text-light fw-bold">Sign-Up</button>
                <p class='text-light mt-3'>You Have Already Account <a href='/' class='fw-bold'> Login</a></p>
              </form>
            </div>
        </div>
    </div>
</div>


{% endblock content %}